/target
.env
.env*
**/*.rs.bk
/node_modules
.terraform*
.localstack*
/truly_cli/res/*_prod_stage.*
/truly_cli/res/*_stage.*
/truly_cli/res/*_prod.*
/terraform/variables-prod.*
/terraform/variables-stage.*
sui.log.*

